In [9]:
import sqlalchemy
import ibm_db
import ibm_db_sa
from sqlalchemy import *

In [12]:
%reload_ext sql

In [14]:
%sql ibm_db_sa://wzk22941:Z6ZUKtH5bpzNQrEW@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Problem 1 - List the case number, type of crime and community area for all crimes in community area number 18.

In [42]:
%%sql
select CCD.COMMUNITY_AREA_NUMBER, CCD. CASE_NUMBER, CCD.PRIMARY_TYPE, CCD.DESCRIPTION,  CD.COMMUNITY_AREA_NAME
from CHICAGO_CRIME_DATA as CCD INNER JOIN
CENSUS_DATA as CD on CD.COMMUNITY_AREA_NUMBER=CCD.COMMUNITY_AREA_NUMBER
where CD.COMMUNITY_AREA_NUMBER ='18';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(18, 'JA560123', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'Montclaire'),
 (18, 'JA107722', 'OTHER OFFENSE', 'TELEPHONE THREAT', 'Montclaire')]

Problem 2 - List all crimes that took place at a school. Include case number, crime type and community name.

In [45]:
%%sql
select CCD.COMMUNITY_AREA_NUMBER, CCD. CASE_NUMBER, CCD.PRIMARY_TYPE,  CD.COMMUNITY_AREA_NAME, CCD.LOCATION_DESCRIPTION
from CHICAGO_CRIME_DATA as CCD FULL JOIN 
CENSUS_DATA as CD on CD.COMMUNITY_AREA_NUMBER=CCD.COMMUNITY_AREA_NUMBER
WHERE CCD.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(1, 'HK577020', 'NARCOTICS', 'Rogers Park', 'SCHOOL, PUBLIC, GROUNDS'),
 (4, 'HL725506', 'BATTERY', 'Lincoln Square', 'SCHOOL, PUBLIC, BUILDING'),
 (25, 'HH639427', 'BATTERY', 'Austin', 'SCHOOL, PUBLIC, BUILDING'),
 (25, 'HS200939', 'CRIMINAL DAMAGE', 'Austin', 'SCHOOL, PUBLIC, GROUNDS'),
 (27, 'HT315369', 'ASSAULT', 'East Garfield Park', 'SCHOOL, PUBLIC, GROUNDS'),
 (35, 'HP716225', 'BATTERY', 'Douglas', 'SCHOOL, PUBLIC, BUILDING'),
 (43, 'HL353697', 'BATTERY', 'South Shore', 'SCHOOL, PUBLIC, GROUNDS'),
 (58, 'HS305355', 'NARCOTICS', 'Brighton Park', 'SCHOOL, PUBLIC, BUILDING'),
 (70, 'JA460432', 'BATTERY', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 (70, 'HR585012', 'CRIMINAL TRESPA', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 (None, 'HH292682', 'PUBLIC PEACE VI', None, 'SCHOOL, PRIVATE, BUILDING'),
 (None, 'G635735', 'PUBLIC PEACE VI', None, 'SCHOOL, PUBLIC, BUILDING')]

Problem 3 - For the communities of Oakland, Armour Square, Edgewater and CHICAGO list the associated community_area_numbers and the case_numbers.

In [46]:
%%sql
SELECT *
FROM CHICAGO_CRIME_DATA AS CCD
FULL JOIN CENSUS_DATA AS CD
ON CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CD.COMMUNITY_AREA_NAME IN ('Oakland', 'Armour Square', 'Edgewater','CHICAGO');

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(8863261, 'HV537004', datetime.date(2012, 10, 25), '054XX N ASHLAND AVE', '810', 'THEFT', 'OVER $500', 'OTHER', 'FALSE', 'TRUE', 2012, 20, 40, 77, '6', 1164674, 1936421, 2012, Decimal('41.98115315'), Decimal('-87.66975020'), '(41.981153152, -87.669750197)', 77, 'Edgewater', Decimal('4.1'), Decimal('18.2'), Decimal('9.2'), Decimal('9.7'), Decimal('23.8'), 33385, 19),
 (4778195, 'HM392612', datetime.date(2006, 6, 3), '057XX N MAGNOLIA AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 2013, 20, 48, 77, '6', 1166924, 1938218, 2006, Decimal('41.98603604'), Decimal('-87.66142360'), '(41.986036039, -87.661423603)', 77, 'Edgewater', Decimal('4.1'), Decimal('18.2'), Decimal('9.2'), Decimal('9.7'), Decimal('23.8'), 33385, 19),
 (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'CHICAGO', Decimal('4.7'), Decimal('19.7'), Decimal('12.9'), Decimal('19.5'), Decimal('33.5'), 28202, None),
 (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 34, 'Armour Square', Decimal('5.7'), Decimal('40.1'), Decimal('16.7'), Decimal('34.5'), Decimal('38.3'), 16148, 82),
 (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 36, 'Oakland', Decimal('1.3'), Decimal('39.7'), Decimal('28.7'), Decimal('18.4'), Decimal('40.4'), 19252, 78)]