In [3]:
%load_ext sql

ModuleNotFoundError: No module named 'sqlalchemy'

In [1]:
%sql ibm_db_sa://wzk22941:Z6ZUKtH5bpzNQrEW@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb?security=SSL

UsageError: Line magic function `%sql` not found.

In [3]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='wzk22941';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[]

In [4]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('ID', 'INTEGER', 4),
 ('CASE_NUMBER', 'VARCHAR', 8),
 ('DATE', 'DATE', 4),
 ('BLOCK', 'VARCHAR', 35),
 ('IUCR', 'VARCHAR', 4),
 ('PRIMARY_TYPE', 'VARCHAR', 15),
 ('DESCRIPTION', 'VARCHAR', 46),
 ('LOCATION_DESCRIPTION', 'VARCHAR', 33),
 ('ARREST', 'VARCHAR', 5),
 ('DOMESTIC', 'VARCHAR', 5),
 ('BEAT', 'SMALLINT', 2),
 ('DISTRICT', 'SMALLINT', 2),
 ('WARD', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('FBICODE', 'VARCHAR', 3),
 ('X_COORDINATE', 'INTEGER', 4),
 ('Y_COORDINATE', 'INTEGER', 4),
 ('YEAR', 'SMALLINT', 2),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('LOCATION', 'VARCHAR', 29)]

In [ ]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CENSUS_DATA';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('PERCENT_OF_HOUSING_CROWDED', 'DECIMAL', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'DECIMAL', 4),
 ('PERCENT_AGED_16__UNEMPLOYED', 'DECIMAL', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'DECIMAL', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'DECIMAL', 4),
 ('PER_CAPITA_INCOME', 'INTEGER', 4),
 ('HARDSHIP_INDEX', 'SMALLINT', 2)]

In [13]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME<11000;

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [17]:
%sql select PRIMARY_TYPE from CHICAGO_CRIME_DATA group by PRIMARY_TYPE;

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('ARSON',),
 ('ASSAULT',),
 ('BATTERY',),
 ('BURGLARY',),
 ('CONCEALED CARRY',),
 ('CRIM SEXUAL ASS',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('DECEPTIVE PRACT',),
 ('DOMESTIC VIOLEN',),
 ('GAMBLING',),
 ('HOMICIDE',),
 ('HUMAN TRAFFICKI',),
 ('INTERFERENCE WI',),
 ('INTIMIDATION',),
 ('KIDNAPPING',),
 ('LIQUOR LAW VIOL',),
 ('MOTOR VEHICLE T',),
 ('NARCOTICS',),
 ('NON - CRIMINAL',),
 ('NON-CRIMINAL',),
 ('NON-CRIMINAL (S',),
 ('OBSCENITY',),
 ('OFFENSE INVOLVI',),
 ('OTHER NARCOTIC ',),
 ('OTHER OFFENSE',),
 ('PROSTITUTION',),
 ('PUBLIC INDECENC',),
 ('PUBLIC PEACE VI',),
 ('RITUALISM',),
 ('ROBBERY',),
 ('SEX OFFENSE',),
 ('STALKING',),
 ('THEFT',),
 ('WEAPONS VIOLATI',)]

In [25]:
%sql SELECT DISTINCT CASE_NUMBER from CHICAGO_CRIME_DATA \
WHERE DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('HK238408',), ('HL266884',)]

In [26]:
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE PRIMARY_TYPE = 'KIDNAPPING' and DESCRIPTION LIKE '%CHILD%';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

In [43]:
%sql SELECT DISTINCT(PRIMARY_TYPE) from CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

In [50]:
%sql SELECT COLNAME from SYSCAT.COLUMNS where TABNAME ='CHICAGO_PUBLIC_SCHOOLS';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('11th Grade Average ACT (2011)',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('AVERAGE_TEACHER_ATTENDANCE',),
 ('CITY',),
 ('COLLABORATIVE_NAME',),
 ('COLLEGE_ELIGIBILITY__',),
 ('COLLEGE_ENROLLMENT',),
 ('COLLEGE_ENROLLMENT_RATE__',),
 ('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('CPS_PERFORMANCE_POLICY_LEVEL',),
 ('CPS_PERFORMANCE_POLICY_STATUS',),
 ('ENVIRONMENT_ICON',),
 ('ENVIRONMENT_SCORE',),
 ('Elementary, Middle, or High School',),
 ('FAMILY_INVOLVEMENT_ICON',),
 ('FAMILY_INVOLVEMENT_SCORE',),
 ('FRESHMAN_ON_TRACK_RATE__',),
 ('GENERAL_SERVICES_ROUTE',),
 ('GR3_5_GRADE_LEVEL_MATH__',),
 ('GR3_5_GRADE_LEVEL_READ__',),
 ('GR3_5_KEEP_PACE_MATH__',),
 ('GR3_5_KEEP_PACE_READ__',),
 ('GR6_8_GRADE_LEVEL_MATH__',),
 ('GR6_8_GRADE_LEVEL_READ__',),
 ('GR6_8_KEEP_PACE_MATH_',),
 ('GR6_8_KEEP_PACE_READ__',),
 ('GRADUATION_RATE__',),
 ('GR_8_EXPLORE_MATH__',),
 ('GR_8_EXPLORE_READ__',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE',),
 ('INSTRUCTION_ICON',),
 ('INSTRUCTION_SCORE',),
 ('ISAT_EXCEEDING_MATH__',),
 ('ISAT_EXCEEDING_READING__',),
 ('ISAT_VALUE_ADD_COLOR_MATH',),
 ('ISAT_VALUE_ADD_COLOR_READ',),
 ('ISAT_VALUE_ADD_MATH',),
 ('ISAT_VALUE_ADD_READ',),
 ('LATITUDE',),
 ('LEADERS_ICON',),
 ('LEADERS_SCORE',),
 ('LINK',),
 ('LOCATION',),
 ('LONGITUDE',),
 ('NAME_OF_SCHOOL',),
 ('NETWORK_MANAGER',),
 ('NET_CHANGE_EXPLORE_AND_PLAN',),
 ('NET_CHANGE_PLAN_AND_ACT',),
 ('PARENT_ENGAGEMENT_ICON',),
 ('PARENT_ENGAGEMENT_SCORE',),
 ('PARENT_ENVIRONMENT_ICON',),
 ('PARENT_ENVIRONMENT_SCORE',),
 ('PHONE_NUMBER',),
 ('PK_2_LITERACY__',),
 ('PK_2_MATH__',),
 ('POLICE_DISTRICT',),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_',),
 ('SAFETY_ICON',),
 ('SAFETY_SCORE',),
 ('SCHOOL_ID',),
 ('STATE',),
 ('STREET_ADDRESS',),
 ('STUDENTS_PASSING__ALGEBRA__',),
 ('STUDENTS_TAKING__ALGEBRA__',),
 ('TEACHERS_ICON',),
 ('TEACHERS_SCORE',),
 ('TRACK_SCHEDULE',),
 ('WARD',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('ZIP_CODE',)]

In [55]:
%%sql 
SELECT "Elementary, Middle, or High School",AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [62]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY 
from CENSUS_DATA 
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5;

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [85]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(25, 43)]

In [72]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM  CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Riverdale',)]

In [86]:
%%sql
SELECT community_area_name
FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (    
    SELECT COMMUNITY_AREA_NUMBER 
    FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)

LIMIT 1;

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Austin',)]