In [9]:
%load_ext sql

In [12]:
%sql ibm_db_sa://wzk22941:Z6ZUKtH5bpzNQrEW@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb?security=SSL

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Exercise 1
Question 1 - Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [11]:
%%sql
SELECT SC.NAME_OF_SCHOOL, CD.COMMUNITY_AREA_NAME, SC.AVERAGE_STUDENT_ATTENDANCE 
FROM SCHOOLS as SC LEFT OUTER JOIN CENSUS_DATA as CD
ON SC.COMMUNITY_AREA_NUMBER=CD.COMMUNITY_AREA_NUMBER
WHERE CD.HARDSHIP_INDEX='98';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Exercise 1
Question 2 - Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [5]:
%%sql
select CCD. CASE_NUMBER, CCD.PRIMARY_TYPE,  CD.COMMUNITY_AREA_NAME, CCD.LOCATION_DESCRIPTION
from CHICAGO_CRIME_DATA as CCD RIGHT OUTER JOIN
CENSUS_DATA as CD on CD.COMMUNITY_AREA_NUMBER=CCD.COMMUNITY_AREA_NUMBER
WHERE CCD.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HL725506', 'BATTERY', 'Lincoln Square', 'SCHOOL, PUBLIC, BUILDING'),
 ('HH639427', 'BATTERY', 'Austin', 'SCHOOL, PUBLIC, BUILDING'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HT315369', 'ASSAULT', 'East Garfield Park', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HP716225', 'BATTERY', 'Douglas', 'SCHOOL, PUBLIC, BUILDING'),
 ('HL353697', 'BATTERY', 'South Shore', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS305355', 'NARCOTICS', 'Brighton Park', 'SCHOOL, PUBLIC, BUILDING'),
 ('JA460432', 'BATTERY', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HR585012', 'CRIMINAL TRESPA', 'Ashburn', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HH292682', 'PUBLIC PEACE VI', None, 'SCHOOL, PRIVATE, BUILDING'),
 ('G635735', 'PUBLIC PEACE VI', None, 'SCHOOL, PUBLIC, BUILDING')]

Exercise 2 Question 1
Write and execute a SQL statement that returns just the school name and leaders’ icon from the view. 
Take a screenshot showing the SQL query and its results. Upload the JPEG (.jpg) file below for your peers to review.

In [12]:
%%sql
CREATE or REPLACE VIEW NEWTABLE (SCHOOL_NAME, Leaders_Rating)
AS SELECT NAME_OF_SCHOOL, Leaders_Icon FROM SCHOOLS

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[]

Exercise 3 Question 1
Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don’t forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

In [ ]:
%%sql
--#SET TERMINATOR @ 
CREATE PROCEDURE UPDATE_LEADERS_SCORE
(IN IN_SCHOOL_ID INTEGER,
IN IN_LEADERS_SCORE INTEGER)

LANGUAGE SQL
READS SQL DATA

BEGIN

DECLARE C1 CURSOR
WITH RETURN FOR

SELECT * FROM CHICAGO_PUBLIC_SCHOOLS;

OPEN C1;
END
@

Exercise 3 Question 2
Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

In [ ]:
%%sql
--#SET TERMINATOR @ 
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN IN_SCHOOL_ID INTEGER,
IN IN_LEADERS_SCORE INTEGER)

LANGUAGE SQL
MODIFIES SQL DATA

BEGIN
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET "LEADERS_SCORE" = IN_LEADERS_SCORE 
WHERE "SCHOOL_ID" = IN_SCHOOL_ID;

END
@

Exercise 3
Question 3 - Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

In [ ]:
%%sql

--#SET TERMINATOR @ 
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN IN_SCHOOL_ID INTEGER,
IN IN_LEADERS_SCORE INTEGER)

LANGUAGE SQL
MODIFIES SQL DATA

BEGIN
	IF in_Leaders_Score>0 AND in_Leaders_Score< 20 THEN
	   UPDATE CHICAGO_PUBLIC_SCHOOLS
	   SET Leaders_Icon = 'Very_weak'
	   WHERE School_ID = in_School_ID;
	   
	ELSEIF in_Leaders_Score < 40 THEN
   		UPDATE CHICAGO_PUBLIC_SCHOOLS
  	 	SET Leaders_Icon = 'Weak'
   		WHERE School_ID = in_School_ID;

    ELSEIF in_Leaders_Score < 60 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leaders_Score < 80 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leaders_Score < 100 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very_strong'
        WHERE School_ID = in_School_ID;
    ELSE
        ROLLBACK WORK;   
    END IF;
    
END
@

Exercise 3
Question 4 Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

In [ ]:
%%sql
--#SET TERMINATOR @ 
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE
(IN IN_SCHOOL_ID INTEGER,
IN IN_LEADERS_SCORE INTEGER)

LANGUAGE SQL
MODIFIES SQL DATA

BEGIN
ALTER TABLE CHICAGO_PUBLIC_SCHOOLS
ALTER COLUMN Leaders_Icon SET DATA TYPE VARCHAR(11)
WHERE SCHOOL_ID = IN_SCHOOL_ID;
CALL UPDATE_LEADERS_SCORE(610185, 50)
END
@

In [6]:
%%sql
SELECT * FROM CHICAGO_PUBLIC_SCHOOLS
WHERE "LEADERS_ICON"='38';

 * ibm_db_sa://wzk22941:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[]